/*colors*/
$mainCo: #ffba08;
$bgCo: #111111;
$menuCo: #353535;
%skills{
	height: 100%;
	position: absolute;
	background-color: $mainCo;
	animation-duration: 2.5s;
}
#skills-button{
	background-color: $mainCo;
	border-radius: 50px;
	padding: 8px 20px;
}
.headerr{
	color: $mainCo;
	text-align: center;
	margin: 30px 0;
	display: none;
	h2{
		font-weight: 900;
		padding: auto;
	}
}
body{
	background-color: $bgCo;
	font-family: sans-serif;
	margin: 0;
	color: white;
	ul{ /*Main menu*/
		width: 250px;
		position: fixed;
		left: 20px;
		top: 200px;
		list-style: none;
		display: flex;
		flex-direction: column;
		z-index: 1;
		a{
			transition: all 5s linear;
			&:visited{
				background-color: $mainCo;
				width: 170px;
				border-radius: 50px;
				text-align: right; 
				justify-content: flex-start;
				padding-left: 10px;
				h6{
					display: inline-block;
					}
			}
			&:active{
				li{
					background-color: $mainCo;
					width: 170px;
					border-radius: 50px;
					text-align: right; 
					justify-content: flex-start;
					padding-left: 10px;
					box-shadow: 5px 5px 10px $mainCo;
					h6{
						display: inline-block;
					}
				}
			}
			&:checked{
				border: 1px solid white;
				li:hover{
					background-color: $mainCo;
					width: 170px;
					border-radius: 50px;
					text-align: right; 
					justify-content: flex-start;
					padding-left: 10px;
					h6{
						display: inline-block;
					}
				}
			}
			li{
				width: 50px;
				height: 50px;
				text-align: center;
				background-color: $menuCo;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: 0.5s ease-in-out;

				&:hover{
					background-color: $mainCo;
					width: 170px;
					border-radius: 50px;
					text-align: right; 
					justify-content: flex-start;
					padding-left: 10px;
					h6{
						display: inline-block;

					}
				}
				img{
					transform: scale(0.8);
				}
				h6{
					display: none;
				}
			}
		}
	}
	.header1{/*heading part*/
		display: flex;
		justify-content: center;
		.col-lg-6{/*my photo*/
			position: relative;
			img{
				position: absolute;
				top: 85px;
				left: 40px;
				width: 75%;
				height: 450px;
				display: inline-block;
				border-radius: 20px;
				box-shadow: 5px 5px 10px black;
			}
			.shape{
				width: 90%;
				height: 500px;
				display: inline-block;
				margin-left: 0;
				position: absolute;
				top: 60px;
				left: 0;
			}
		}
		.col-lg-6{/*heading info*/
			.innerr{
				.greeting{
					margin-top: 150px;
					margin-bottom: 0;
					font-weight: normal;
				}
				.bigName{
					margin: 0;
					font-size: 40px;
					font-weight: bold;
					.name{
						color: $mainCo;
					}
				}
				.info{
					margin-top: 0;
					margin-right: 30px;
				}
				.btn{
					background-color: $mainCo;
					padding: 10px 25px;
					font-size: 12x;
					margin-bottom: 260px;
				}
			}
		}
	}
	hr{
		margin-top: 0;
		width: 350px;
	}
	.aboutPart{/*about part*/
		padding-bottom: 0;
		height: 550px !important;
		.bosh{
			position: relative;
			.backer{
				font-size: 100px;
				color: $menuCo;
				font-weight: 900;
				opacity: 0.5;
			}
			.fronter{
				font-size: 50px;
				font-weight: 900;
				position: absolute;
				top: 40px;
				left: 405px;
				span{
					color: $mainCo;
				}
			}
		}
		.row{
			height: 180px;
			padding-bottom: 0;
			margin-bottom: 0; 
			.col-md-12{
				h4{
					font-weight: 900;
				}
				.row{

					.col-6{
						span{
							color: white;
							font-weight: 700;
						}
					}
				}
				.btn{
					background-color: $mainCo;
					padding: 10px 25px;
					font-size: 12x;
					margin-bottom: 260px;
				}
			}
		}

		//skills box

		.boxes{
			height: 340px;
			padding-bottom: 0;
			.border{
				box-shadow: 5px 5px 5px rgba(9, 9, 9, 0.4);
			}
			h1{
				color: $mainCo;
				font-weight: 900;
				margin-bottom: 0;
				margin-left: 10px;
			}
			.xiri{
				hr{
					width: 40px;
					background-color: white;
					margin-top: 5px;
					margin-left: 10px;
				}
				p{
					font-weight: 700;
				}
			}
		}
	}

	//about part ended

	//skills part started

	.skillsP{
		padding-top: 200px;
		.bosh{
			position: relative;
			.backer{
				font-size: 100px;
				color: $menuCo;
				font-weight: 900;
				opacity: 0.5;
			}
			.fronter{
				font-size: 50px;
				font-weight: 900;
				position: absolute;
				top: 40px;
				left: 385px;
				span{
					color: $mainCo;
				}
			}
		}
		.row{
			.col-md-6:first-child{
				p{
					font-weight: 800;
				}
				.dner{
					height: 8px;
					background-color: #fefae0;
					position: relative;
					box-shadow: 1px 2px 7px $mainCo;
				}
				.upper1{
					@extend %skills;
					// animation-name: html;
					// width: 90%;
				}
				.upper2{
					@extend %skills;
					// animation-name: css;
					// width: 85%;
				}
				.upper3{
					@extend %skills;
					// animation-name: sass;
					// width: 95%;
				}
				.upper4{
					@extend %skills;
					// animation-name: bstrap;
					// width: 75%;
				}
			}
			.col-md-6:last-child{
				p{
					font-weight: 800;
				}
				.dner{
					height: 8px;
					background-color: #fefae0;
					position: relative;
					box-shadow: 1px 2px 7px $mainCo;
				}
				.upper1{
					@extend %skills;
					// animation-name: javascript;
					// width: 40%;
				}
				.upper2{
					@extend %skills;
					// animation-name: python;
					// width: 35%;
				}
				.upper3{
					@extend %skills;
					// animation-name: react;
					// width: 17%;
				}
				.upper4{
					@extend %skills;
					// animation-name: linux;
					// width: 15%;
				}
			}
		}
	}

	hr{
		margin: 50px auto;
		width: 350px;
	}

	//SKILLS PART ENDED

	.education{//education
		.bosh{
			position: relative;
			.backer{
				font-size: 100px;
				color: $menuCo;
				font-weight: 900;
				opacity: 0.5;
			}
			.fronter{
				font-size: 50px;
				font-weight: 900;
				position: absolute;
				top: 40px;
				left: 400px;
				span{
					color: $mainCo;
				}
			}
		}
		.row{
			.col-lg-6{
				.elements{
					border-left: 1px solid $menuCo;
					position: relative;
					.study{
						background-color: $mainCo;
						width: 40px;
						height: 40px;
						text-align: center;
						position: absolute;
						left: -20px;
						top: -5px;
						img{
							transform: scale(0.9);
							display: inline-block;
							margin-top: 6px;
						}
					}
					.year1{
						background-color: $menuCo;
						width: 10rem;
						height: 20px;
						color: #dee2e6;
						padding-top: 2px;
						display: inline-block;
						font-size: 12px;
					}
					.organisation{
						font-weight: 560;
						font-size: 20px;
						span{
							font-size: 18px;
							color: $menuCo;
						}
					}
					.Lorem{
						color: #dee2e6;
					}
				}
			}
		}
	}
	.contactsP{
		.bosh{
			position: relative;
			.backer{
				font-size: 100px;
				color: $menuCo;
				font-weight: 900;
				opacity: 0.5;
			}
			.fronter{
				font-size: 50px;
				font-weight: 900;
				position: absolute;
				top: 40px;
				left: 350px;
				span{
					color: $mainCo;
				}
			}
		}
		.row{
			.col-md-4{
				h3{
					font-weight: 600;
				}
				h3 + p{
					font-weight: 500;
					line-height: 18px;
				}
				.mail-elements{
					img{
						width: 40px;
						height: 40px;
					}
					div{
						h6{
							font-weight: 600;
						}
					}
				}
				.media{
					.media-e{
						background-color: $menuCo;
						width: 35px;
						height: 35px;
						transition: background 0.4s ease-in-out;
						cursor: pointer;
						&:hover{
							background-color: $mainCo;
						}
						img{
							width: 50%;
							display: block;
							margin: 8px auto;
						}
					}
				}
			}
			.col-md-8{
				form{
					box-sizing: border-box;
					div{
						box-sizing: border-box;
						input{
							border: none;
							border-radius: 50px;
							background-color: $menuCo;
							padding: 15px 20px;
							font-size: 14px;
							&:focus{
								border-radius: 50px;
								border: 1px solid $mainCo;
								outline: none;
								box-shadow: 5px 2px 10px $mainCo;
							}
							&:hover{
								border-radius: 50px;
								outline: none;
								box-shadow: 5px 2px 10px $mainCo;
							}
						}
					}
					textarea{
						border: none;
						border-radius: 35px;
						background-color: $menuCo;
						font-size: 14px;
						overflow-x: hidden;
						padding: 15px 20px;
						min-height: 50px;
						&:focus{
							border-radius: 35px;
							border: 1px solid $mainCo;
							outline: none;
							box-shadow: 5px 2px 10px $mainCo;
						}
						&:hover{
							border-radius: 35px;
							outline: none;
							box-shadow: 5px 2px 10px $mainCo;
						}
					}
					button{
						border: none;
						border-radius: 50px;
						background-color: $mainCo;
						padding: 15px 35px;
						font-size: 14px;
						&:focus{
							border-radius: 50px;
							border: 1px solid $mainCo;
							outline: none;
							box-shadow: 5px 2px 10px $mainCo;
						}
						&:hover{
							border-radius: 50px;
							outline: none;
							box-shadow: 5px 2px 10px $mainCo;
						}
					}
				}
			}
		}
	}
	.copyright{
		width: 100%;
		background-color: white;
	}

}

/*ANIMATIONS*/

@keyframes html																																		{
	from {
		width: 10%;
	}
	to{
		width: 90%;
	}
}
@keyframes css{
	from {
		width: 10%;
	}
	to{
		width: 85%;
	}
}
@keyframes sass{
	from {
		width: 10%;
	}
	to{
		width: 95%;
	}
}
@keyframes bstrap{
	from {
		width: 10%;
	}
	to{
		width: 75%;
	}
}

@keyframes javascript{
	from {
		width: 0%;
	}
	to{
		width: 40%;
	}
}

@keyframes python{
	from {
		width: 0%;
	}
	to{
		width: 35%;
	}
}
@keyframes react{
	from {
		width: 0%;
	}
	to{
		width: 17%;
	}
}
@keyframes linux{
	from {
		width: 0%;
	}
	to{
		width: 15%;
	}
}
@media screen and (max-width: 1400px){
	#skillPart{
		padding-top: 20px;
	}
}
@media screen and (max-width: 992px) {
  #shape{
    display: none;
  }
  #myImage{
  	position: static;
  	display: block;
  	margin: 60px auto 0;
  	width: 25vw;
  	height: 30vh;
  	border-radius: 50%;
  }
  #header11 .col-lg-6{
  	position: static;
  	text-align: center;
  	padding-bottom: 0;
  }
  #greeting{
  	margin-top: 20px;
  }
  #aboutMe{
  	margin-bottom: 50px;
  }
  #cv{
  	margin-bottom: 40px;
  }
  #boxes{
  	margin-bottom: 500px;
  }
  .bosh{
  	display: none;
  }
  .headerr{
  	display: block;
  }
  #skillsHr{
  	display: none;
  }
  #education{
  	padding-left: 50px;
  }
  .mail-elements{
  	justify-content: center;
  }
  #media{
  	justify-content: center;
  }
  .menuEl{
  	width: 40px;
  	height: 40px;
  	background-color: $mainCo;
  	&:hover{
	  	background-color: $mainCo;
	  	width: 35px;
	  	height: 35px;
	  	h6{
	  		display: none;
	  	}
  	}
  }
  .menuEl img{
  	width: 60%;
  }
  
	#skillPart{
		padding-top: 200px;
	}

}
@media screen and (max-width: 540px){
	body p{
		font-size: 14px;
	}
	#shy{
		margin-bottom: 40px;
	}
	#skillPart{
		padding-top: 200px;
	}
	.menuEl{
	  	width: 30px;
	  	height: 30px;
	  }
	  
	 #myImage{
	  	width: 25vw;
	  	height: 20vh;
	  }
	  #skills1{
	  	margin-top: 500px;
	  }
}

@media screen and (max-width: 480px){
	body p{
		font-size: 12px;
	}
	.container{
		padding: 25px;
	}
	.text-shy{
		text-align: center;
	}
	 #myImage{
	  	width: 25vw;
	  	height: 20vh;
	}
	#form{
		input{
			font-size: 12px;
			border-radius: 15px;
		}
		textarea{
			font-size: 12px;
			border-radius: 15px;
		}
		button{
			margin-left: 60px;
			border-radius: 15px;
		}
	}
	#aboutt{
		.btn{
			margin-top: 10px;
		}
		p{
			font-size: 10px;
		}
	}
	#skills1{
		.col-md-6{
			width: 100%;
		}
	}
	body{
		ul{
			top: 200px;
		}
	}
	.headerr{
		h1{
			font-weight: 900;
		}
	}
	#education{
		padding-left: 0;
	}
	#header11{
		img{
			margin-top: 0;
			height: 140px;
			width: 140px;
		}
		h2{
			font-size: 22px;
		}
		.bigName{
			font-size: 24px;
		}
		.bigName + p{
			font-size: 24px;
		}
		#infoH{
			font-size: 10px;
			text-align: center;
			margin: 20px 0 0;
			padding: 0 40px;
		}
		#infoH + a{
			margin-top: 20px;
			width: 30%;
			font-size: 8px;
			margin-bottom: 0;
			padding: 5px 10px;
		}
		.contactsP{
			button{
				margin-left: 200px;
			}
		}	
	}
	#menu{
		a{
			width: 25px;
			li{
				width: 30px;
				overflow: hidden;
				h6{
					display: none !important;
				}
				&:hover{
					width: 35px;
					overflow: hidden;
					h6{
						display: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 390px){
	
	#form{
		input{
			font-size: 8px;
		}
		textarea{
			font-size: 8px;
		}
		button{
			margin-left: 20px;
		}
	}
	#aboutt{
		
		p{
			font-size: 8px;
		}
	}
	body{
		p{
			font-size: 8px;
		}
	}
	#contactsPa{
		padding-left: 40px;
		button{
			width: 40%;
			font-size: 10px;
			padding: 5px 15px;
		}
	}
	#menu{
		a{
			width: 30px;
			height: 40px;
			li{
				width: 30px;
				overflow: hidden;
				h6{
					display: none !important;
				}
				&:hover{
					overflow: hidden;
					width: 35px;
					h6{
						display: none;
					}
				}
			}
		}
	}
}